<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Logo-Textura.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>HDA Conocenos</title>
</head>
<body>
    
    <header class="main-header">
        <nav class="main-header__nav container">
            <a class="main-header__logo" href="../index.html">
                <img class="main-header__img" src="../img/Logo_arma.png" alt="logo ARMAIII">
            </a>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link " href="../index.html">PRINCIPAL</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link menu__link--activo" href="/views/conocenos.html">CONOCENOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="/views/roles_y_divisiones.html">ROLES Y DIVISIONES</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="/views/streams.html">STREAMS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="/views/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>

    <section id="secciones" class="fondo1">
        <div id="cuadrante--izq">
            <h1 class="principal--titulo">SOBRE</h1> <h1 class="principal--titulo__amarillo">NOSOTROS</h1>
            <p class="cuadrante--parrafo">Somos un Clan Argentino dedicado a la simulación militar dentro de Arma III.

                Compuesta por una brigada especializada que realiza misiones especiales en cualquier terreno y clima. 
                
                Buscamos aspirantes que encajen en un grupo donde se logró un compañerismo y respeto mutuo entre los integrantes.
                
                El clan cuenta con servidor de ARMA3 y TS3 radicado en Argentina, lo cual permite un nivel de PING reducido, logrando una fluida jugabilidad.
                
                Si crees encajar y estas interesado en inscribirte a nuestras filas, no dudes en contactarte con nosotros.</p> 
        </div>
        <div id="cuadrante--der">
            <img src="../img/img-SC.jpg" alt="fondo">
        </div>
    </section>


    <section id="secciones" class="fondo1">
        <div id="cuadrante--izq"> <img src="../img/Historia.jpg" alt="base"></div>
        <div id="cuadrante--der" ><h3 class="h3--roles">Nuestra Historia</h3>
            <p class="cuadrante--parafo">Creado el 09 de Octubre del 2020, varios compañeros decidieron armar un clan de fuerzas especiales exclusivamente argentino.

                Desde entonces se ha mantenido activo con misiones oficiales y cooperativas en las diferentes comunidades, un servidor propio y participando activamente es comunidades de scripting y creaciones de mods </p>
        </div>
    </section>



<section id="secciones" class="fondo2">
    <div id="cuadrante--izq">
    <h2 class="h2--amarillo">NUESTRA</h2><h2>BASE</h2>
    <p class="cuadrante--parafo">Tenemos una base dinámica en constante expansión optimizada para consumir la menor cantidad de recursos posibles de tu PC.

        Cuenta con diversos campos destinados a los diferentes ejercicios y cursos para que desarrolles y potencies tus habilidades necesarias, a la hora de enfrentar las diferentes situaciones que te esperan en el campo de batalla.</p>
    </div>
    <div id="cuadrante--der"> 
        <section id="galeria">
            <picture class="galeria__img">
             <img src="../img/ARSENAL.jpg" alt="">
             </picture>
         
             <picture class="galeria__img">
                 <img src="../img/BASE.jpg" alt="">
             </picture>
             <picture class="galeria__img">
                 <img src="../img/CAMPO AEREO.jpg" alt="">
             </picture>
             <picture class="galeria__img">
                 <img src="../img/CQB.jpg" alt="">
             </picture>
             <picture class="galeria__img">
                 <img src="../img/GRANADAS.jpg" alt="">
             </picture>
             <picture class="galeria__img">
                 <img src="../img/PEDANAS.jpg" alt="">
             </picture>
                 
         
         
         </section>
         
     </div>
</section>

<section id="secciones" class="fondo1">
    <div id="cuadrante--izq"> <img src="../img/20210822031154_1.jpg" alt="base"></div>
    <div id="cuadrante--der" ><h3 class="h2--amarillo">NUESTRAS</h3><h2>ESPECIALIDADES</h2>
        <ul>
            <li><h3>INGENIERO</h3></li>
            <li><h3>SOPORTE</h3></li>
            <li><h3>ANTITANQUE</h3></li>
            <li><h3>PILOTO MEDICO</h3></li>
            <li><h3>PILOTO MECANICO</h3></li>
            <li><h3>MEDICO</h3></li>
            <li><h3>AMETRALLADOR</h3></li>
            <li><h3>TIRADOR DESIGNADO</h3></li>
            <li><h3>GRANADERO</h3></li>
        </ul>
    </div>
</section>

<section id="secciones" class="fondo2">
    <div id="cuadrante--izq">
        <h3 class="h2--amarillo">NUESTRAS</h3><h2>DIVISIONES</h2>
        <ul>
            <li>
                <a class="main-header__logo" href="roles_y_divisiones.html#halcon">
                    <img class="main-header__img" src="../img/logo_halcon.png" alt="halcon">
                </a>
                <h2 class="h2--amarillo">HALCON</h2>
            <li><a class="main-header__logo" href="roles_y_divisiones.html#yaguarete">
                <img class="main-header__img" src="../img/LOGO_YAGUARETE.png" alt="halcon">
            </a><h2 class="h2--amarillo">YAGUARETE</h2>
            </li>
            <li>
                <a class="main-header__logo" href="roles_y_divisiones.html#divyac">
                    <img class="main-header__img" src="../img/LOGO_YACARE.png" alt="yacare">
                </a>
                <h2 class="h2--amarillo">YACARE</h2>
                
            </li>
        </ul>
    </div>
    <div id="cuadrante--der"> <img src="../img/Divisiones.jpg" alt="DIVISIONES"> </div>
</section>


   


<footer class="main-footer">
    <ul class="redes">
        <li class="redes__item"><a redes__link href="https://www.facebook.com/hermanosdearmas.ok/">Facebook</a></li>
        <li class="redes__item"><a redes__link href="https://www.youtube.com/channel/UCZ_mMU7MOg1t0vOJNAngk9Q">youtube</a></li>
        <li class="redes__item"><a redes__link href="https://www.instagram.com/hermanos_de_armas.ok/">instagram</a></li>
        <li class="redes__item"><a redes__link href="https://discord.gg/JPSeMrwVGJ">discord</a></li>
    </ul>
    <div class="redes"> <h3>hermanosdearmas@gmail.com</h3></div>
    <div class="redes" ><iframe width="300" height="140" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Lemnos%20814%2001%2C%20Grecia+(T%C3%ADtulo)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
    

</footer>   




</body>
</html>