<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Logo-Textura.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <title>HDA Streams</title>
</head>
<body>
    
    <header class="main-header">
        <nav class="main-header__nav container">
            <a class="main-header__logo" href="../index.html">
                <img class="main-header__img" src="../img/Logo_arma.png" alt="logo ARMAIII">
            </a>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link " href="../index.html">PRINCIPAL</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="/views/conocenos.html">CONOCENOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="/views/roles_y_divisiones.html">ROLES Y DIVISIONES</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link menu__link--activo" href="/views/streams.html">STREAMS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="/views/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
          <!--  <section class="botonArriba" >
            <a href="streams.html">ARRIBA </a> 
        </section>
 -->

 

<section class="fondo1">
    <h1 class="principal--titulo__amarillo">TRANSMISIONES</h1>
    <H2>Seguinos en vivo desde los streams de nuestros elementos</H2>
</section>


<section id="secciones--stream" class="fondo2">
    <div id="cuadrante--izq">
        <h2 class="cuadrante--titulo">HZLREVERT</h2>
        <h3>ESP. HAZI</h3>
        <p class="cuadrante--parrafo">Sigue al Especialista Hazi desde su cámara en primera persona en Twitch</p>
    </div>
    <div class="cuadrente--der">
        <a class="cuadrante--a" href="https://www.twitch.tv/hzlrevert">VER</a>
    </div>
</section>
<section id="secciones--stream" class="fondo1">
    <div id="cuadrante--izq">
        <h2 class="cuadrante--titulo">CRY</h2>
        <h3>ESP. CRY</h3>
        <p class="cuadrante--parrafo">Sigue al Especialista Cry desde su cámara en primera persona en Youtube</p>
    </div>
    <div class="cuadrente--der">
        <a class="cuadrante--a" href="https://www.youtube.com/channel/UCZ_mMU7MOg1t0vOJNAngk9Q">VER</a>
    </div>
</section>

<section id="secciones--stream" class="fondo2">
    <div id="cuadrante--izq">
        <h2 class="cuadrante--titulo">DOSEME</h2>
        <h3>ESP. META</h3>
        <p class="cuadrante--parrafo">Sigue al Especialista Meta desde su cámara en primera persona en Youtube</p>
    </div>
    <div class="cuadrente--der">
        <a class="cuadrante--a" href="https://www.youtube.com/channel/UCV9mI-UaLL7HQzhyAJan5lA">VER</a>
    </div>
</section>


<section id="secciones--stream" class="fondo1">
    <div id="cuadrante--izq">
        <h2 class="cuadrante--titulo">MATIAS SALINAS</h2>
        <h3>ESP. MATT</h3>
        <p class="cuadrante--parrafo">Sigue al Especialista MATT desde su cámara en primera persona en Youtube</p>
    </div>
    <div class="cuadrente--der">
        <a class="cuadrante--a" href="https://www.youtube.com/channel/UCkAJNZS0fNZZPRIXFnZ1Dmg">VER</a>
    </div>
</section>

<section id="secciones--stream" class="fondo2">
    <div id="cuadrante--izq">
        <h2 class="cuadrante--titulo">JOHNONGAPORSON</h2>
        <h3>ESP. PASCAL</h3>
        <p class="cuadrante--parrafo">Sigue al Especialista Pascal desde su cámara en primera persona en Twitch</p>
    </div>
    <div class="cuadrente--der">
        <a class="cuadrante--a" href="https://www.twitch.tv/johnongaporson">VER</a>
    </div>
</section>


<footer class="main-footer">
    <ul class="redes">
        <li class="redes__item"><a redes__link href="https://www.facebook.com/hermanosdearmas.ok/">
            <img src="../img/facebook.png" alt="" width="30px" height="30px">
        </a></li>
        <li class="redes__item"><a redes__link href="https://www.youtube.com/channel/UCZ_mMU7MOg1t0vOJNAngk9Q">
            <img src="../img/youtube.png" alt="" width="30px" height="30px">
        </a></li>
        <li class="redes__item"><a redes__link href="https://www.instagram.com/hermanos_de_armas.ok/">
            <img src="../img/instagram.png" alt="" width="30px" height="30px">
        </a></li>
        <li class="redes__item"><a redes__link href="https://discord.gg/JPSeMrwVGJ">
            <img src="../img/discord.png" alt="" width="30px" height="30px">
        </a></li>
    </ul>
    <div class="redes"> <h3>hermanosdearmas@gmail.com</h3></div>
    <div class="redes" ><iframe width="300" height="140" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Lemnos%20814%2001%2C%20Grecia+(T%C3%ADtulo)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
    

</footer> 




</body>
</html>