/*fotos base*/

#galeria{
    display: grid;
    gap: var(--spacing-sm);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    & .galeria__img:nth-of-type(1){grid-column: 1/3;}
    &.galeria__img:nth-of-type(2){grid-column: 3/5;}
    &.galeria__img:nth-of-type(3){grid-column: 5/7;}
    &.galeria__img:nth-of-type(4){grid-column: 1/3;}
    &.galeria__img:nth-of-type(5){grid-column: 3/5;}
    &.galeria__img:nth-of-type(6){grid-column: 5/7;}  
}




