

.galeria--titulo{
    
        font-family: var(--text-tit);
        font-size: var(--tam-tit);
        color: var(--colortext);
        text-align:center;
    
        &__amarillo{
            font-family: var(--text-tit);
            font-size: var(--tam-tit);
            color: var(--terciario);
        }
        &__amarillo2{
            font-family: var(--text-tit);
            font-size: var(--tam-tit);
            color: var(--terciario);
            text-align: end;
        }       
}

.galerias--titulo{
    font-family: var(--text-text);
    font-size: var(--tam-h2);
    color: var(--terciario);
    text-align:center;
    margin-top: 30px;

}

.galerias--carousel{
    margin-top: 30px;
    margin-bottom: 30px;
}


@mixin galer {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: var(--spacing-md);
    margin-left: 5px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);

    
    
    &__img:nth-of-type(1){grid-column: 1/3;}
    &__img:nth-of-type(2){grid-column: 3/5;}
    &__img:nth-of-type(3){grid-column: 5/7;}
    &__img:nth-of-type(4){grid-column: 1/3;}
    &__img:nth-of-type(5){grid-column: 3/5;}
    &__img:nth-of-type(6){grid-column: 5/7;} 
    &__img:nth-of-type(7){grid-column: 1/3;} 
    &__img:nth-of-type(8){grid-column: 3/5;} 
    &__img:nth-of-type(9){grid-column: 5/7;} 
}

/*MIXIN*/
.galeria-reclutas{
    @include galer;
    overflow:hidden;
    
    &__img:hover {
        -webkit-transform:scale(1.3);
        transform:scale(1.3);
        transition: all .4s ease-in-out;
    
    } 


}



 .galeria-entrenamientos{
    @include galer;

    overflow:hidden;
    
    &__img:hover {
        -webkit-transform:scale(1.3);
        transform:scale(1.3);
        transition: all .4s ease-in-out;
    
    } 

} 


