
#secciones--stream{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 30px;
    padding: 50px;
    }

    img{
        display: block;
    }