
#secciones--stream{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 30px;
    padding: 50px;
    }

    img{
        display: block;
    }

/*EXTEND*/
    #secciones--streams{
        @extend #secciones--stream;
    }


/*MAPA*/
$subt:(
    amarillo: #FFC632,
    blanco: #D9D9D9,

);

@each $texto, $color in $subt {
    .subtitulo--#{$texto}{

    color:$color;
}
    
}