

.galeria--titulo{
    
        font-family: var(--tam-tit);
        font-size: var(--tam-tit);
        color: var(--colortext);
        text-align:center;
    
        &__amarillo{
            font-family: var(--tam-tit);
            font-size: var(--tam-tit);
            color: var(--terciario);
        }
        &__amarillo2{
            font-family: var(--tam-tit);
            font-size: var(--tam-tit);
            color: var(--terciario);
            text-align: end;
        }       
}

.galerias--titulo{
    font-family: var(--text-tit);
    font-size: var(--tam-h2);
    color: var(--terciario);
    text-align:center;
}