/*Footer*/


.main-footer{
    padding: 5rem;
    font-size: var(--tam-tex);
    font-weight:bold ;
    font-family: var(--tam-tex);
    background-color: var(--terciario);
    
    /*flex-wrap: wrap;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start center ;
    /*gap: 2rem;*/
    margin-top: auto;

}

@media screen and (max-width:900px) {
    .main-footer{
        flex-direction:column;
       

    }
    .redes{
        justify-content: center;
        margin-top: 2rem;
    }
}




.redes{
    display: flex;
    align-items:center ;
    gap: 2rem;

    &__link{
        color: var(--primario);
        text-decoration: none;
    }

}
